# Игнорируем папки __pycache__
__pycache__/

# Игнорируем виртуальные окружения
venv/
.env/

# Игнорируем настройки VS Code
.vscode/

# Игнорируем файлы журналов и временные файлы
*.log
*.tmp

# Системные файлы
.DS_Store
Thumbs.db

# Другие игнорируемые файлы и папки
*.pyc
*.pyo
*.pyd